<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Yo, <%= @user.name %> you've been matched with <%= @friend.name %></h1>
    <p>
      Awesome! Have good fun and remember to wear protection :). 
    </p>
    <p>
      Sincerely,
    </p>
    <p>The Thunder Team</p>
  </body>
</html>